/* ================= GENERAL ================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #172033;
}

html {
    scroll-behavior: smooth;
}

/* ================= NAVBAR ================= */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    background: rgba(8, 17, 31, 0.95);

    border-bottom: 1px solid #1d3048;

    z-index: 1000;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo span {
    font-size: 28px;
    color: #00aaff;
    font-weight: bold;
}

.logo p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}


/* NAVIGATION */

.nav-bar nav {
    display: flex;
    gap: 35px;
}

.nav-bar nav a {
    font-size: 16px;
    color: #b8c7d9;

    transition: 0.3s;
}

.nav-bar nav a:hover {
    color: #00aaff;
}
/* CONNECT BUTTON */

.connect-btn {
    padding: 11px 20px;

    border: 1px solid #00aaff;
    border-radius: 8px;

    color: #00aaff;

    transition: 0.3s;
}

.connect-btn:hover {
    background: #00aaff;
    color: #08111f;
}
/* ================= HOME ================= */

#home {
    min-height: 100vh;
    padding: 110px 7% 60px;
    background-color: #f5f8fc;
    text-align: center;
}


/* HOME CONTENT */

.home-content {
    width: 50%;
    padding: 25px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.greeting {
    font-size: 19px;
    color: #2563eb;
    margin-bottom: 15px;
}

.home-content h1 {
    font-size: 64px;
    color: #172033;
    margin-bottom: 8px;
}

.home-content h2 {
    font-size: 30px;
    font-weight: normal;
    color: #26364d;
    margin-bottom: 20px;
}

.home-description {
    width: 90%;
    font-size: 20px;
    line-height: 1.7;
    color: #64748b;
    margin-bottom: 30px;
}


/* HOME BUTTONS */

.home-buttons {
    margin-bottom: 35px;
}

.primary-btn {
    background-color: #2563eb;
    color: white;
    padding: 13px 24px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 6px;
    text-decoration: none;
}

.secondary-btn {
    color: #172033;
    padding: 13px 24px;
    display: inline-block;
    border: 1px solid #2563eb;
    border-radius: 6px;
    text-decoration: none;
    width: 150px;
}

.primary-btn:hover {
    background-color: #1d4ed8;
}

.secondary-btn:hover {
    color: #2563eb;
}


/* HOME STATS */

.home-stats {
    margin-top: 20px;
}

.stat {
    width: 145px;
    padding: 5px 15px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #d9e0e8;
}

.stat:last-child {
    border-right: none;
}

.stat span {
    font-size: 18px;
    color: #2563eb;
}

.stat h3 {
    font-size: 20px;
    color: #172033;
    margin: 5px 0;
}

.stat p {
    font-size: 15px;
    color: #64748b;
}


/* ================= CODE CARD ================= */

.code-card {
    width: 43%;
    height: 550px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    background-color: white;

    border: 1px solid #dce3eb;
    border-radius: 12px;

    box-shadow: 0 10px 25px rgba(31, 41, 55, 0.08);
}


/* CODE HEADER */

.code-header {
    padding: 15px 20px;
    background-color: #f8fafc;
    border-bottom: 1px solid #dce3eb;
}

.code-header span {
    width: 11px;
    height: 11px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #b8c2cf;
}


/* CODE CONTENT */

.code-content {
    padding: 30px;
}

.code-content h3 {
    font-size: 21px;
    color: #172033;
    margin-bottom: 15px;
}

.code-content h3 span {
    color: #2563eb;
}

.code-content > p {
    font-size: 14px;
    color: #64748b;
    margin-bottom: 8px;
}


/* CODE SKILLS */

.code-skills {
    margin-top: 28px;
}

.code-skill {
    margin-bottom: 18px;
}

.code-skill > div:first-child {
    margin-bottom: 7px;
}

.code-skill p {
    width: 48%;
    display: inline-block;
    font-size: 13px;
    color: #475569;
}

.code-skill p:nth-child(2) {
    text-align: right;
}


/* PROGRESS */

.progress {
    width: 100%;
    height: 7px;
    background-color: #e2e8f0;
    border-radius: 10px;
}

.progress span {
    height: 100%;
    display: block;
    background-color: #2563eb;
    border-radius: 10px;
}

.code-skill:nth-child(1) .progress span {
    width: 90%;
}

.code-skill:nth-child(2) .progress span {
    width: 85%;
}

.code-skill:nth-child(3) .progress span {
    width: 60%;
}


/* CODE ICON */

.code-icon {
    padding: 10px 25px;
    text-align: right;
    font-size: 30px;
    color: #2563eb;
}



/* ================= ABOUT ================= */

#about {
    min-height: 100vh;
    padding: 120px 7% 90px;
    background-color: #ffffff;
    text-align: center;
}


/* PROFILE CARD */

.profile-card {
    width: 31%;
    padding: 50px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    background-color: #f8fafc;

    border: 1px solid #dce3eb;
    border-radius: 14px;
}


/* PROFILE IMAGE */

.profile-image {
    width: 280px;
    height: 280px;
    margin: 0 auto 30px;

    border: 1px solid #2563eb;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -10px;
}


/* PROFILE TEXT */

.profile-card h1 {
    font-size: 34px;
    margin-bottom: 12px;
}

.profile-card h2 {
    font-size: 20px;
    font-weight: normal;
    color: #2563eb;
    margin-bottom: 15px;
}

.location {
    font-size: 15px;
    color: #64748b;
}

.quote {
    font-size: 17px;
    color: #475569;
    margin: 30px 0;
}


/* SOCIAL LINKS */

.social-links a {
    display: inline-block;
    padding: 11px 15px;
    margin: 5px;

    font-size: 14px;
    color: #475569;

    border: 1px solid #6d6e6f;
    border-radius: 7px;
    Text-decoration: none;
}


/* ABOUT CONTENT */

.about-content {
    width: 59%;
    padding: 35px;
    margin: 25px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.section-label {
    font-size: 18px;
    color: #2563eb;
    margin-bottom: 18px;
}

.about-content h1 {
    font-size: 56px;
    color: #172033;
    margin-bottom: 30px;
}

.about-content h1 span {
    color: #2563eb;
}

.about-content  p {
    font-size: 18px;
    color: #424a53;
    line-height: 1.9;
    margin-bottom: 20px;
}


/* ABOUT STATS */

.about-stats {
    margin-top: 35px;
}

.about-stats div {
    width: 205px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;

    background-color: #f8fafc;

    border: 1px solid #dce3eb;
    border-radius: 10px;
}

.about-stats span {
    font-size: 25px;
}

.about-stats h3 {
    font-size: 27px;
    margin: 7px 0;
}

.about-stats p {
    font-size: 14px;
    color: #64748b;
}


/* ================= MY JOURNEY ================= */

.journey {
    width: 92%;
    padding: 45px 50px;
    margin: 70px auto 50px;

    text-align: left;

    background-color: #f8fafc;

    border: 1px solid #dce3eb;
    border-radius: 14px;
}

.journey h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

.journey-item {
    padding: 22px 0;
    margin-bottom: 5px;

    border-bottom: 1px solid #dce3eb;
}

.journey-item > span {
    width: 55px;
    display: inline-block;
    vertical-align: top;

    font-size: 25px;
    color: #2563eb;
}

.journey-item div {
    width: 86%;
    display: inline-block;
    vertical-align: top;
}

.journey-item p {
    font-size: 15px;
    color: #64748b;
    margin: 6px 0;
}

.journey-item h3 {
    font-size: 20px;
    margin: 7px 0;
}


/* ================= WHAT I DO ================= */

.what-i-do {
    width: 92%;
    margin: 60px auto;
    text-align: center;
}


.what-i-do > div:first-child {
    margin-bottom: 35px;
}

.what-i-do h2 {
    font-size: 34px;
    margin-bottom: 15px;
}

.what-i-do > div:first-child p {
    font-size: 17px;
    color: #64748b;
}


/* SERVICE CARDS */

.service-card {
    width: 21%;
    padding: 32px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;

    text-align: left;

    background-color: #ffffff;

    border: 1px solid #dce3eb;
    border-radius: 11px;
}
.service-card {
    transition: 0.3s;
}

.service-card:hover {
    box-shadow: 0 0 5px blue;
}

.service-card > span {
    font-size: 28px;
    color: #2563eb;
}

.service-card h3 {
    font-size: 20px;
    margin: 15px 0 10px;
}

.service-card p {
    font-size: 15px;
    color: #64748b;
    line-height: 1.7;
}


/* ================= SKILLS ================= */

#skills {
    min-height: 100vh;
    padding: 120px 7% 90px;
    background-color: #f5f8fc;
    text-align: center;
}


/* SKILLS INTRO */

.skills-intro {
    margin-bottom: 45px;
}

.skills-intro .section-label {
    font-size: 15px;
    color: #2563eb;
    margin-bottom: 15px;
}

.skills-intro h1 {
    font-size: 56px;
    color: #172033;
    margin-bottom: 15px;
}

.skills-intro h1 span {
    color: #2563eb;
}

.skills-intro > p:last-child {
    font-size: 18px;
    color: #64748b;
}


/* SKILLS VISUAL */

.skills-visual {
    width: 150px;
    height: 150px;
    padding: 45px 20px;
    margin: 0 auto 45px;

    background-color: #ffffff;

    border: 1px solid #dce3eb;
    border-radius: 50%;
}

.skills-visual span {
    font-size: 40px;
    color: #2563eb;
}


/* SKILL CARDS */

.skill-card {
    width: 27%;
    min-height: 330px;
    padding: 30px;
    margin: 12px;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    background-color: #ffffff;

    border: 1px solid #dce3eb;
    border-radius: 12px;
}
.skill-card {
    transition: 0.3s;
}

.skill-card:hover {
    box-shadow: 0 0 5px blue;
}

.skill-card img {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
    object-fit: contain;
}

.skill-card h2 {
    font-size: 25px;
    color: #172033;
    margin-bottom: 12px;
}

.skill-card > p {
    font-size: 15px;
    color: #64748b;
    line-height: 1.6;
    margin-bottom: 25px;
}


/* SKILL PROGRESS */

.skill-progress {
    width: 100%;
    height: 9px;
    margin-bottom: 10px;

    background-color: #e2e8f0;

    border-radius: 10px;
}

.skill-progress span {
    height: 100%;
    display: block;

    background-color: #2563eb;

    border-radius: 10px;
}

.skill-card:nth-of-type(3) .skill-progress span {
    width: 90%;
}

.skill-card:nth-of-type(4) .skill-progress span {
    width: 85%;
}

.skill-card:nth-of-type(5) .skill-progress span {
    width: 60%;
}

.skill-card:nth-of-type(6) .skill-progress span {
    width: 0%;
}

.skill-card:nth-of-type(7) .skill-progress span {
    width: 0%;
}


/* PERCENTAGE */

.skill-card .percentage {
    font-size: 15px;
    color: #172033;
    text-align: right;
    margin-bottom: 10px;
}


/* SKILL STATUS */

.skill-status {
    font-size: 14px !important;
    color: #2563eb !important;
}


/* PENDING SKILLS */

.skill-card.pending {
    background-color: #f8fafc;
}

.skill-card.pending .skill-progress {
    background-color: #dce3eb;
}


/* SKILLS FOOTER */

.skills-footer {
    margin-top: 45px;
    font-size: 16px;
    color: #64748b;
}






#contact {
    min-height: 100vh;
    padding: 20px ;
    background-color: #ffffff;
    text-align: center;
}

.contact-info {
    width: 45%;
    padding: 30px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.contact-info .section-label {
    font-size: 15px;
    color: #2563eb;
    margin-bottom: 15px;
}

.contact-info h1 {
    font-size: 48px;
    color: #172033;
    margin-bottom: 20px;
}

.contact-info h1 span {
    color: #2563eb;
}

.contact-info > p {
    font-size: 20px;
    color: #64748b;
    line-height: 1.7;
    margin-bottom: 30px;
}

.contact-links {
    width: 100%;
}

.contact-item {
    width: 100%;
    padding: 18px;
    margin-bottom: 14px;
    background-color: #f8fafc;
    border: 1px solid #dce3eb;
    border-radius: 9px;
}

.contact-item > span {
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: #2563eb;
}

.contact-item > div {
    display: inline-block;
    vertical-align: middle;
}

.contact-item h3 {
    font-size: 20px;
    color: #172033;
    margin-bottom: 5px;
}

.contact-item a,
.contact-item p {
    font-size: 15px;
    color: #64748b;
    text-decoration: none;
}

.contact-form {
    width: 700px;
    padding: 30px;
    margin: 10px;
    margin-top: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #f8fafc;
    border: 1px solid #dce3eb;
    border-radius: 12px;
}

.form-heading {
    margin-bottom: 30px;
}

.form-heading > span {
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #2563eb;
}

.form-heading > div {
    display: inline-block;
    vertical-align: middle;
}

.form-heading h2 {
    font-size: 30px;
    color: #172033;
    margin-bottom: 5px;
}

.form-heading p {
    font-size: 20px;
    color: #64748b;
}

.form-row {
    width: 100%;
 
}

.form-row > div {
    width: 48%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}

.form-row > div:last-child {
    margin-right: 0;
}

.contact-form label {
    display: block;
    font-size: 14px;
    color: #172033;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #172033;
    background-color: #ffffff;
    border: 1px solid #dce3eb;
    border-radius: 6px;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #2563eb;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    font-size: 15px;
    color: white;
    background-color: #2563eb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1d4ed8;
}

.contact-thanks {
    width: 92%;
    padding: 20px;
    margin: 60px auto 0;
    font-size: 20px;
    color: #64748b;
    text-align: center;
    border-top: 1px solid #dce3eb;
}
